{% extends "base.html" %}

{% block main_content %}
{% import "macros/trailCard.html" as trailCard %}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h2>{{ region.name }}</h2>
        <h3>{{ region.country }}</h3>
        <p>{{ region.description }}</p>
   
        <h4>Trails in this region:</h4>
        {% for trail in region.trails %}
          {{ trailCard.trailCard(trail) }}
          <hr class="my-4" />
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock main_content %}